<h1 id="welcomePageHeading">AddressMe</h1>
<h4> Welcome to AddressMe!</h4>

<p id="welcomeDescription">
  AddressMe is an online directory of all local businesses. 
  This directory displays local businesses by different categories. These categories include restaurants, medical buildings, and other helpful services.
  AddressMe helps individuals that are new to the area by helping them learn what kind of places exist near them. This also helps local businesses get their name out there and helps advertise their business to all people in the town.
  This is a directory that can be added to, edited, or removed by any user.  
</p>

<%= link_to 'AddressMe', controller: 'addresses' %>